In [6]:
carsData <- as.data.frame(mtcars)
head(carsData$mpg)
head(carsData)

[1] 21.0 21.0 22.8 21.4 18.7 18.1

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [14]:
lm.fit = lm(mpg~hp+wt, data=carsData)

In [15]:
summary(lm.fit)

Call:
lm(formula = mpg ~ hp + wt, data = carsData)

Residuals:
   Min     1Q Median     3Q    Max
-3.941 -1.600 -0.182  1.050  5.854

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 37.22727    1.59879  23.285  < 2e-16 ***
hp          -0.03177    0.00903  -3.519  0.00145 **
wt          -3.87783    0.63273  -6.129 1.12e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.593 on 29 degrees of freedom
Multiple R-squared:  0.8268,	Adjusted R-squared:  0.8148
F-statistic: 69.21 on 2 and 29 DF,  p-value: 9.109e-12

In [16]:
newData <- data.frame(disp = 250, hp = 175, wt = 3.5)

In [17]:
predict(lm.fit, newData, interval="prediction")

  fit     lwr      upr
1 18.0946 12.69385 23.49535

In [18]:
dm = read.csv("direct_marketing.csv", header = TRUE)

In [20]:
head(dm)

  Age    Gender OwnHome Married Location Salary Children History Catalogs
1 Old    Female Own     Single  Far      47500  0        High     6
2 Middle Male   Rent    Single  Close    63600  0        High     6
3 Young  Female Rent    Single  Close    13500  0        Low     18
4 Middle Male   Own     Married Close    85600  1        High    18
5 Middle Female Own     Single  Close    68400  0        High    12
6 Young  Male   Own     Married Close    30400  0        Low      6
  AmountSpent
1  75.5
2 131.8
3  29.6
4 243.6
5 130.4
6  49.5

In [21]:
dm$Gender <- as.factor(dm$Gender)

In [22]:
head(dm)

  Age    Gender OwnHome Married Location Salary Children History Catalogs
1 Old    Female Own     Single  Far      47500  0        High     6
2 Middle Male   Rent    Single  Close    63600  0        High     6
3 Young  Female Rent    Single  Close    13500  0        Low     18
4 Middle Male   Own     Married Close    85600  1        High    18
5 Middle Female Own     Single  Close    68400  0        High    12
6 Young  Male   Own     Married Close    30400  0        Low      6
  AmountSpent
1  75.5
2 131.8
3  29.6
4 243.6
5 130.4
6  49.5

In [23]:
lm.fit = lm(AmountSpent~Gender+Salary, data=dm)

In [24]:
summary(lm.fit)

Call:
lm(formula = AmountSpent ~ Gender + Salary, data = dm)

Residuals:
    Min      1Q  Median      3Q     Max
-218.06  -32.31   -5.37   28.28  374.28

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -2.515e+00  4.680e+00  -0.537    0.591
GenderMale   3.867e+00  4.503e+00   0.859    0.391
Salary       2.180e-03  7.357e-05  29.626   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 68.72 on 997 degrees of freedom
Multiple R-squared:  0.4898,	Adjusted R-squared:  0.4888
F-statistic: 478.6 on 2 and 997 DF,  p-value: < 2.2e-16

In [25]:
lm.fit = lm(AmountSpent~Salary, data=dm)

In [26]:
summary(lm.fit)

Call:
lm(formula = AmountSpent ~ Salary, data = dm)

Residuals:
    Min      1Q  Median      3Q     Max
-217.97  -31.52   -5.35   27.97  375.29

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.531783   4.537416  -0.338    0.736
Salary       0.002196   0.000071  30.930   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 68.71 on 998 degrees of freedom
Multiple R-squared:  0.4894,	Adjusted R-squared:  0.4889
F-statistic: 956.7 on 1 and 998 DF,  p-value: < 2.2e-16

In [27]:
library(MASS)

In [28]:
?Boston

In [29]:
head(Boston)

  crim    zn indus chas nox   rm    age  dis    rad tax ptratio black  lstat
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    396.90 4.98
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    396.90 9.14
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    392.83 4.03
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    394.63 2.94
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    396.90 5.33
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7    394.12 5.21
  medv
1 24.0
2 21.6
3 34.7
4 33.4
5 36.2
6 28.7

In [33]:
library(dplyr)
temp <- Boston %>%
    mutate(Result = ifelse(medv>30, 1, 0) )

In [34]:
head(temp)

  crim    zn indus chas nox   rm    age  dis    rad tax ptratio black  lstat
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    396.90 4.98
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    396.90 9.14
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    392.83 4.03
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    394.63 2.94
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    396.90 5.33
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7    394.12 5.21
  medv Result
1 24.0 0
2 21.6 0
3 34.7 1
4 33.4 1
5 36.2 1
6 28.7 0

In [41]:
lm.fit <- glm(Result ~ . -medv , data = temp, family = "binomial")

In [42]:
summary(lm.fit)

Call:
glm(formula = Result ~ . - medv, family = "binomial", data = temp)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-3.4016  -0.0854  -0.0155  -0.0005   2.5627

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept) -2.460276   7.699396  -0.320  0.74932
crim         0.047581   0.044580   1.067  0.28582
zn           0.023898   0.012448   1.920  0.05488 .
indus       -0.175563   0.096314  -1.823  0.06833 .
chas         0.182414   0.832590   0.219  0.82658
nox          1.445091   6.118455   0.236  0.81329
rm           2.354947   0.580370   4.058 4.96e-05 ***
age          0.027123   0.016072   1.688  0.09149 .
dis         -0.305451   0.195522  -1.562  0.11823
rad          0.372120   0.116117   3.205  0.00135 **
tax         -0.010361   0.005117  -2.025  0.04289 *
ptratio     -0.607343   0.191184  -3.177  0.00149 **
black        0.004366   0.013629   0.320  0.74871
lstat       -0.683904   0.138736  -4.930 8.24e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 454.89  on 505  degrees of freedom
Residual deviance: 117.64  on 492  degrees of freedom
AIC: 145.64

Number of Fisher Scoring iterations: 10

In [85]:
library(PerformanceAnalytics)
library(xts)
library(lubridate)
dm = read.csv("AMZN.csv", header = TRUE)

In [77]:
temp <- temp %>%
    mutate(rrf = Adj_Close-0.19*Adj_Close )

In [79]:
m = mean(temp$rrf)
s = sd(temp$rrf)
m/s

[1] 87.08064

In [63]:
SharpeRatio(dm$Adj_Close,.0019)

ERROR: Error in checkData(R): The data cannot be converted into a time series.  If you are trying to pass in names from a data object with one column, you should use the form 'data[rows, columns, drop = FALSE]'.  Rownames should have standard date formats, such as '1985-03-15'.

In [86]:
data <- read.csv("UPS_KO.csv")
head(data)

  Date   Mkt_RF  SMB     HML     RF     UPS          KO
1 201908 -0.0258 -0.0242 -0.0499 0.0016 -0.006779911 0.045791340
2 201907  0.0119 -0.0207  0.0014 0.0019  0.156870364 0.041650737
3 201906  0.0693  0.0033 -0.0108 0.0018  0.122018241 0.036433906
4 201905 -0.0694 -0.0120 -0.0239 0.0021 -0.125211831 0.001426832
5 201904  0.0396 -0.0168  0.0193 0.0021 -0.049400387 0.056087991
6 201903  0.0110 -0.0313 -0.0407 0.0019  0.022872350 0.033524475

In [90]:
library(stargazer)
factor <- lm(UPS ~ Mkt_RF+SMB+HML, data = data)
stargazer(factor, align = TRUE, type = "text", out = "factorModelFull.html")
summary(factor)

===============================================
                        Dependent variable:
                    ---------------------------
                                UPS
-----------------------------------------------
Mkt_RF                       1.185***
                              (0.183)

SMB                           -0.053
                              (0.262)

HML                            0.381
                              (0.258)

Constant                       0.001
                              (0.007)

-----------------------------------------------
Observations                    60
R2                             0.456
Adjusted R2                    0.427
Residual Std. Error       0.048 (df = 56)
F Statistic           15.644*** (df = 3; 56)
===============================================
Note:               *p<0.1; **p<0.05; ***p<0.01

Call:
lm(formula = UPS ~ Mkt_RF + SMB + HML, data = data)

Residuals:
      Min        1Q    Median        3Q       Max
-0.132624 -0.028099 -0.001747  0.033896  0.140518

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.0006146  0.0065126   0.094    0.925
Mkt_RF       1.1848109  0.1826901   6.485 2.44e-08 ***
SMB         -0.0533678  0.2621628  -0.204    0.839
HML          0.3811535  0.2582603   1.476    0.146
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.04818 on 56 degrees of freedom
Multiple R-squared:  0.456,	Adjusted R-squared:  0.4268
F-statistic: 15.64 on 3 and 56 DF,  p-value: 1.65e-07

In [91]:
factor <- lm(KO ~ Mkt_RF+SMB+HML, data = data)
stargazer(factor, align = TRUE, type = "text", out = "factorModelFull.html")
summary(factor)

===============================================
                        Dependent variable:
                    ---------------------------
                                KO
-----------------------------------------------
Mkt_RF                       0.540***
                              (0.104)

SMB                          -0.947***
                              (0.149)

HML                            0.003
                              (0.147)

Constant                       0.003
                              (0.004)

-----------------------------------------------
Observations                    60
R2                             0.490
Adjusted R2                    0.462
Residual Std. Error       0.027 (df = 56)
F Statistic           17.899*** (df = 3; 56)
===============================================
Note:               *p<0.1; **p<0.05; ***p<0.01

Call:
lm(formula = KO ~ Mkt_RF + SMB + HML, data = data)

Residuals:
      Min        1Q    Median        3Q       Max
-0.071984 -0.023333  0.000469  0.020360  0.052208

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.002568   0.003706   0.693    0.491
Mkt_RF       0.540413   0.103973   5.198 2.94e-06 ***
SMB         -0.946926   0.149202  -6.347 4.13e-08 ***
HML          0.002848   0.146981   0.019    0.985
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.02742 on 56 degrees of freedom
Multiple R-squared:  0.4895,	Adjusted R-squared:  0.4622
F-statistic:  17.9 on 3 and 56 DF,  p-value: 2.87e-08

In [94]:
data <- read.csv("KAG_conversion_data_wrangled.csv",stringsAsFactors = FALSE)

In [95]:
head(data)

  X ad_id  campaign_id age gender interest Impressions Clicks Spent
1 1 708746 916         32  0      15        7350       1      1.43
2 2 708749 916         32  0      16       17861       2      1.82
3 3 708771 916         32  0      20         693       0      0.00
4 4 708815 916         32  0      28        4259       1      1.25
5 5 708818 916         32  0      28        4133       1      1.29
6 6 708820 916         32  0      29        1915       0      0.00
  Total_Conversion Approved_Conversion CTR    CPC  CostPerConv_Total
1 2                1                   0.0136 1.43 0.715
2 2                0                   0.0112 0.91 0.910
3 1                0                   0.0000 0.00 0.000
4 1                0                   0.0235 1.25 1.250
5 1                1                   0.0242 1.29 1.290
6 1                1                   0.0000 0.00 0.000
  CostPerConv_Approved CPM
1 1.43                 0.19
2 1.82                 0.10
3 0.00                 0.00
4 1.25                 0.29
5 1.29                 0.31
6 0.00                 0.00

In [96]:
data %>% filter(CPC == max(CPC))

  X   ad_id   campaign_id age gender interest Impressions Clicks Spent
1 587 1121223 1178        32  0      31       64020       5      11.06
  Total_Conversion Approved_Conversion CTR    CPC   CostPerConv_Total
1 1                0                   0.0078 2.212 11.06
  CostPerConv_Approved CPM
1 11.06                0.17

In [100]:
m = data %>% filter(CPC >= 1) %>% nrow()
n = data %>% nrow()

m/n

[1] 0.7882765

In [109]:
data %>% filter(campaign_id == 936) %>% filter(Impressions >= mean(Impressions)) %>% group_by(age) %>%  count(age)

  age n
1 32  28
2 37  11
3 42  19
4 47  40

In [115]:
data %>% filter(Impressions == max(Impressions))

  X   ad_id   campaign_id age gender interest Impressions Clicks Spent
1 526 1121100 1178        32  0      15       3052003     340    639.95
  Total_Conversion Approved_Conversion CTR    CPC    CostPerConv_Total
1 60               17                  0.0111 1.8822 10.6658
  CostPerConv_Approved CPM
1 37.6441              0.21

In [119]:
data %>% filter(Impressions != 0) %>% group_by(campaign_id)  %>%  count()

  campaign_id n
1  916         54
2  936        464
3 1178        625

In [110]:
?Boston

In [111]:
temp <- Boston %>%
    mutate(Result = ifelse(medv>30, 1, 0) )

In [112]:
lm.fit <- glm(Result ~ . -medv , data = temp, family = "binomial")

In [113]:
library("ROCR")

Loading required package: gplots

Attaching package: ‘gplots’

The following object is masked from ‘package:PerformanceAnalytics’:

    textplot

The following object is masked from ‘package:stats’:

    lowess